source 
{ display: block; margin-top: 8px;
}

title, abstract 
{ display: block; color: black; font-family: Times, serif;
font-size: 16pt; text-align: left;
}
author, year, volume, spage, fpage
{color: brown; font-family: Times, serif;
font-size: 12pt; text-align: left;
margin-left:8px;margin-right:8px;
}
authorkey, recordid, inserted, oktoshow, recordstatus 
{ display: none;
}
