/*  Layout Stylesheet using absolute positioning */ 
H1, P {margin-top: 0px;}
.nav
{width: 100%; position: absolute; left: 0px; top: 0px;border-top-width: 1px; border-top-style: dashed;
padding-top: 0px;}
.nav2
{width: 121px; height: 400px; position: absolute; left: 0px; top: 83px;background-color: #f2f2ff;}
.body
{width: 385px; position: absolute; left: 121px; top: 83px; background-color: #ffffff;}
.floatright
{float: right; padding: 3px; }
.floatleft
{float: left; padding: 3px;}



