/* inner page Layout Stylesheet */ 

body{
 margin: 0;
 padding:0;     
 background: #bdc6de; /* #000066; in original */
 color: black;/* #ffffff; */
 }
	 
#hdr{

 width: auto;
 margin: 0;
 background: url("EGIlogo.gif");
 color: #000066;

 background-repeat : repeat;
 overflow : inherit;/* test to see if horizontal scrolling problem is resolved */
 }


/*test banner code */
#hdr2{
width: auto;
/*left: 0;
right: 0;*/
 color: #000000;
 background-color : #99CCFF;
 padding-left : 5px;
 padding-bottom : 2px;
 padding-top : 2px;
 padding-right : 5px;
 }

  
#lh-col{
 width: 18%;
 background: #bdc6de; /* was 000066 (dark blue)*/
 color: #ffffff;
 margin: 0;
 padding: 5px;
 position : relative;
 float: left;
 }

#rh-col{
 background: #ffffff;
 color: #333333;
 margin: 0;
 padding: 5px ;
 left: 20%;
/* right: 0; added 23/04/04 */
 position : absolute;
 /*overflow: auto; - required to make all the content have a background colour as expected*/
/*width: 100%;*/
/* height : 99%; required to make the page a sensible height. However vertical scrollbar appears too.*/
 }

