<title>OWL SUBJECT CODES AND KEYWORDS</title>
<style type="text/css">
 p.c1 {text-align: center}
</style>
<div class="Section1">
    <p class="c1"><strong>OWL SUBJECT CODES AND</strong> <strong>KEYWORDS (2007)</strong>
    <p> 
    <p>Keywords and subject codes are one of the principal windows on accessing the record.  The <strong>Title</strong> and <strong>Abstract</strong> fields are the other major avenues of finding records in a search.  The <strong>Subject Codes</strong> avoid complications with word spelling, phraseology and word choice that can vary, even between English speaking nations (molt v. moult, ringing v. banding).  The sequence of the subject codes, keywords or multiple scientific names in the <strong>Keyword</strong> field is not relevant, although the more important codes are often near the front of the list to make edits a little easier.  When in doubt, we have provided a code that may not actually apply in order to let the future user of OWL decide if they wish to pursue the citation. More than 7<a name="QuickMark"></a>0% of the OWL records have two or more codes and keywords.  Old citations from converting the Recent Ornithological Literature supplements may lack many specific codes or keywords that apply, since the records were coded or given keywords based only upon what information was printed in that supplement.  The B100-series is used to indicate that other life history information not indicated in the title or abstract is likely.
    <p> 
    <p>Users of the OWL database should fully review the list of subject codes and use those in a query that may apply, noting that they can request all codes in one main topic series by truncating the code to first two digits (EXAMPLE: B7* will select for all breeding behavior codes).  The <strong>Title, Abstract</strong>, and <strong>Keyword</strong> fields have been carefully spell checked as much as possible.  We cannot spell check the names of persons or local places in most cases in any of the fields.
    <p> 
    <p>Topics in italics after some subheadings only <em>suggest</em> a partial list of the subtopics included and are not intended to be a complete or inclusive list.
    <p> This list of subject codes, slightly revised from the 1998, 2003 and the 2004 versions, replaces all previous 
lists.  These latest revisions more carefully explain some areas or subtopics.  Comments and suggestions for 
improving the list are welcome. 
<p>
1. Whenever possible, papers have been coded under all the applicable subtopics.  OWL records try to avoid 
using any code ending in "00" whenever possible. 
<p>2. Subjects in italics after some subheadings suggest a partial list of the subtopics included and are not 
intended to be a complete or inclusive list. 
    <p>B010 NEW JOURNAL of interest to ornithologists
    <p>B030 RENAMED or RENUMBERED JOURNAL of interest to ornithologists
    <p>B050 DISCONTINUED JOURNAL of interest to ornithologists
    <p>B070 CORRECTION to published paper of interest to ornithologists (original paper should be in OWL)
    <p>B100 AVIAN BIOLOGY and LIFE HISTORY STUDIES
    <p>This section is for papers that deal with broad aspects of a species&#39; biology that do not fit just one of the more
    discrete categories listed elsewhere.  Example: <i>Birds of North America </i>species&#39; <b>life history </b>accounts. The

    geographic subdivisions are for the area of the study and are to aid the classification and retrieval of papers on
    particular species.  Note that for wider studies, OWL tries to list all the finer geographic areas that are applicable. 
    <p>When possible, OWL tries to list the major subtopics codes included within the paper up to ~15.
    <p>B102 General or Worldwide
    <p>B104 Africa, sub-Saharan and Madagascar
    <p>B106 Antarctica and sub-Antarctica
    <p>B108 Australia, New Guinea, New Zealand
    <p>B110 Europe and Iceland, incl. west half of Russia (W. of Urals)
    <p>B112 Mexico, Central America, and Caribbean

    <p>B116 North Africa and Middle East (Turkey &amp; Georgia to Uzbekistan, Kyrgyzstan &amp; Tajikistan, southward)
    <p>B118 North America and Greenland
    <p>B120 Northern and Far East Asia, incl. Kazakhstan, Tibet, Japan, Taiwan, &amp; E. half of Russia (E. of Urals)
    <p>B124 Oceanic islands, not incl. elsewhere (<i>e.g.</i>, Azores, Galapagos, Seychelles, Falklands) &amp; oceans of the

    world &gt;200 NM [370 km] from a major land mass.
    <p>B126 Old World or Palearctic, incl. all of Russia (used for old OWL records; now use B104, B110, B116,
    <p>B120, and B128)
    <p>B128 Oriental (India, Pakistan, SE Asia, Indonesia, Philippines)
    <p>B130 South America
    <p>B300 BEHAVIOR and COMMUNICATION
    <p>B302 Agonistic, aggressive, &amp; defensive behavior; mobbing; mate or nest guarding

    <p>B304 Learning and intelligence; recognition; tool use
    <p>B306 Locomotion: <i>Flight, swimming and diving, walking, climbing</i>
    <p>B308 Self-maintenance: <i>Daily time budget, preening, head scratching, bathing, anting, roosting, sleeping,</i>
    <i>perching</i>
    <p>B310 Sensory perception: <i>auditory, magnetic, olfactory, tactile and visual sensing</i>
    <p>B312 Sexual behavior: <i>Courtship displays, pair bonding, copulation, leks </i>(see B714)

    <p>B314 Social: <i>Colonial, social structure, flock behavior, intraspecific interaction </i>(for interspecific, see C922)
    <p>B316 Territorial behavior and home range; sizes and distribution
    <p>B318 Visual signals, not specifically for sexual behavior
    <p>B320 Vocalizations and other sounds
    <p>B500 BIRDS and HUMANS
    <p>B502 Collisions, electrocutions, entanglement, and other man-induced injury or fatality; incl. remedial
    measures to prevent future losses (not incl. in E520; does not include trapping for ringing or banding
    [E526].)

</span></font>

    <p>
    <p>B504 Effects (pos. or neg.) upon livestock, crops, fisheries, or similar enterprises (see E520)
    <p>B508 Gamebird management, hunting
    <p>B509 Introduced avian species for largely non-game purposes (see B908 for non-avian sp. introductions)
    <p>B510 Uses of birds by humans, incl. archeology, folk lore, mythology (for hunting see B508; for trade see
    <p>B914)
    <p>B700 BREEDING HABITS
    <p>B702 Breeding schedule and dates (phenology); attempts/season; breeding age (see also C918)

    <p>B704 Brood parasitism, egg dumping, and foster parenting &amp; adoptions
    <p>B706 Cooperative, colonial or communal breeding; helpers
    <p>B708 Effects of human studies or presence on nesting (see also E515)
    <p>B710 Eggs, incubation, hatching, egg physiology and morphology; clutch size (see C918)
    <p>B714 Mating systems, mate selection, extra-pair mating, &amp; paternity; sex ratio (see B312)
    <p>B716 Nesting substrate, site and structure, &amp; nest building (see C908 for habitat of nest site)

    <p>B718 Parental care and feeding of young or an incubating/brooding mate
    <p>B720 Young, from hatching to fledging &amp; independence; <i>growth and development</i>
    <p>B900 CONSERVATION
    <p>B902 Captives: <i>maintenance, rehabilitation, and release; zoo avian collections</i>
    <p>B904 Declining, endangered, or extinct native species; extinction or extirpation (see B509 for exotic avian
    <p>species)
    <p>B906 Education programs, politics, and planning; legal protective measures

    <p>B908 Effects of man-made environmental changes and disturbances: <i>Fragmentation, urbanization,</i>
    <i>agriculture, forestry, fisheries, exotic plant or animal introduction; use of manmade features/structures </i>(see
    also C902)
    <p>B910 Habitat protection and management; importance of habitats (more specific than B912)
    <p>B912 Species protection and recovery measures, incl. but not limited to transplants, re-introductions
    <p>B914 Wild bird trade (not incl. in B510)
    <p>C100 DISEASES, PARASITES, and PATHOLOGY
    <p>C102 Disease (e.g., bacterial, viral, fungal) and disease transmission &amp; prevention

    <p>C104 Parasites: <i>External, internal </i>(e.g., protozoans, arthropods, helminths, nematodes)
    <p>C106 Pathology and injury reports
    <p>C300 DISTRIBUTION, ZOOGEOGRAPHY and AVIFAUNAL HISTORY
    <p>[See discussion under B100-series above.]
    <p>C302 General or Worldwide
    <p>C304 Africa, sub-Saharan and Madagascar
    <p>C306 Antarctica and sub-Antarctica
    <p>C308 Australia, New Guinea, New Zealand

    <p>C310 Europe and Iceland, incl. west half of Russia (W. of Urals)
    <p>C312 Mexico, Central America, and Caribbean
    <p>C316 North Africa and Middle East (Turkey &amp; Georgia to Uzbekistan, Kyrgyzstan &amp; Tajikistan, southward)
    <p>C318 North America and Greenland
    <p>C320 Northern and Far East Asia, incl. Kazakhstan, Tibet, Japan, Taiwan, &amp; E. half of Russia (E. of Urals)
    <p>C324 Oceanic islands, not incl. elsewhere (<i>e.g.</i>, Azores, Galapagos, Seychelles, Falklands) &amp; oceans of the

    <p>world &gt;200 NM [370 km] from a major land mass.
    <p>C326 Old World or Palearctic, incl. all of Russia (used for old OWL records; now use C304, C310, C316,
    <p>C320, and C328)
    <p>C328 Oriental (India, Pakistan, SE Asia, Indonesia, Philippines)
    <p>C330 South America
</span></font>

    <p>
    <p>C700 DOCUMENTATION

    <p>C702 Bibliographies and databases, libraries; literature reviews or indexes
    <p>C704 Biographies, obituaries, bird observatories and organizations, and history
    <p>C706 Collecting and collections, specimens; record keeping
    <p>C708 Ornithological terminology, definitions
    <p>C900 ECOLOGY, ENVIRONMENT, and POPULATIONS
    <p>C902 Biocides and pollution
    <p>C904 Birds as environmental monitors or indicators
    <p>C906 Effects of climate, weather, fire, oceanic currents and tides, or celestial events (e.g., sunrise/set, eclipse)
    <p>C908 Habitat description, structure, selection, change, or use; plant community; geology; hydrology; habitat

    suitability models or indexes
    <p>C909 Impacts (recent) by birds on their environment or other species (see also D106)
    <p>C910 Life span and survivorship rates
    <p>C912 Mortality causes (does not incl. C916, except when in a list of all causes of mortality)
    <p>C914 Population numbers, census, density, trends, and dynamics (see D904 for migration counts)
    <p>C916 Predation of individual(s), eggs or young (more specific than C912; also use D302 if predator is a bird)
    <p>C918 Reproductive effort, success and productivity; recruitment
    <p>C920 Site fidelity and dispersal (often based upon marked individuals)
    <p>C922 Species composition; interspecific competition (for intraspecific, see B314); biodiversity; community

    structure &amp; dynamics
    <p>C924 Trophic levels and energy cycles and related relationships in ecosystem
    <p>C926 Winter and migration habitat (use C908 for habitat used year around by resident taxa)
    <p>D100 EVOLUTION and SYSTEMATICS
    <p>D103 Classification and phylogeny: <i>relationships of avian taxa (species and higher) to other birds or animals</i>
    <p>D105 Evolutionary theories &amp; hypotheses; patterns, rates, fitness, and processes: species or higher categories

    <p>D106 Co-evolution between an avian and another animal or plant species (see also C909)
    <p>D108 Intraspecific variation of any character, behavior, or other feature; intergrading of subspecies
    <p>D110 New avian taxa (see C104 for new parasite taxa)
    <p>D112 Species concepts
    <p>D114 Taxonomy and nomenclature; etymology; types; vernacular &amp; colloquial names for birds
    <p>D300 FOOD HABITS and NUTRITION
    <p>D302 Diet, what birds eat; food selection; nutrition; prey abundance (also see C916 if prey is avian)
    <p>D304 Drinking, pellet-casting, and defecation

    <p>D306 Foraging habits; food transport and storage (for caching, see also B304)
    <p>D308 Kleptoparasitism
    <p>D500 GENETICS and HYBRIDIZATION
    <p>D502 Behavioral and population genetics; phenotypes; gene flow
    <p>D504 Genetic polymorphism, cytogenetics and molecular genetics
    <p>D508 Hybrids and progeny (see B714 for mate choice)
    <p>D700 IDENTIFICATION: Techniques and information
    <p>D702 Species and subspecies identification or separation (includes D704)
    <p>D704 Sex or age class identification or separation

    <p>D900 MIGRATION and NAVIGATION
    <p>D902 Migratory behavior: <i>how or why individuals prepare, start or stop migration; how they soar, fly or swim</i>
    <i>on migration; speed; time of day or night of migration</i>
    <p>D904 Migratory dates, timing, phenology, counts, and routes; distribution of recovered marked birds
    <p>D906 Migratory physiology: <i>lipid accumulation rates and amounts </i>(see also E118)
    <p>D908 Navigation and homing: <i>cues, proximal, distant; imprinting</i>
</span></font>

    <p>
    <p>E100 MORPHOLOGY and PHYSIOLOGY (descriptive and functional anatomy)
    <p>E101 Abnormal external appearance<i>:  plumage, soft body parts</i>
    <p>E102 Circulatory and lymphatic systems: <i>vessels, blood, blood chemistry</i>
    <p>E104 Digestive system
    <p>E106 Embryology and development of embryo (<i>see </i>B710 and B720)

    <p>E108 Endocrine system and hormones
    <p>E110 Excretory system and water metabolism: <i>Urinary structures, nasal glands</i>
    <p>E112 Immune system
    <p>E114 Integument: <i>Feathers, molts, plumages, other integumentary structures, skin; bill structure</i>
    <p>E116 General morphology: <i>Body size and mass, regional morphology, sexual dimorphism</i>
    <p>E118 Physiology and biochemistry: <i>Body composition, day length effects, energy metabolism and body</i>
    <i>temperature, lipid physiology &amp; storage, protein physiology</i>

    <p>E120 Reproductive system and physiology (<i>see </i>B710)
    <p>E122 Respiratory system
    <p>E124 Sensory and nervous system
    <p>E126 Skeletomuscular system
    <p>E300 PALEORNITHOLOGY (oldest to youngest)
    <p>E302 Triassic, Jurassic, Cretaceous (lower, middle and upper Mesozoic) or earlier fossils
    <p>E304 Paleocene, Eocene and Oligocene fossils (early or lower Tertiary)
    <p>E306 Miocene and Pliocene fossils (late or upper Tertiary, i.e., Neogene)

    <p>E308 Pleistocene and Holocene fossils and subfossils, Quaternary (see B510 for archeology)
    <p>E310 Site surveys
    <p>E500 TECHNIQUES
    <p>E501 Binoculars, telescopes, night vision and other non-photographic optical equipment
    <p>E502 Biochemical or biophysical assay
    <p>E504 Captive studies; also breeding, care, rehabilitation, and release
    <p>E506 Censuses, maps, and surveys
    <p>E508 Environmental monitoring, incl. remote sensing, GIS and related methods
    <p>E509 Feeding habits and diet analysis

    <p>E510 Field and laboratory study methods NOT incl. elsewhere under E500-series
    <p>E512 Genetic studies
    <p>E514 Mathematical models: population, growth and other statistics
    <p>E515 Nesting studies, incl. nest boxes&amp; other structures designed for birds; manipulations of nest, clutch,
   brood or nestling food
    <p>E516 Photographic, imaging or video documentation, incl. radiographic, scanning electron microscopy,
    <p>computer imaging, fibre optics
    <p>E518 Physiological methods

    <p>E520 Predator and nuisance control or protection therefrom
    <p>E522 Sound recording, playback, analysis
    <p>E524 Tracking and remote monitoring, radio-telemetry, radar
    <p>E526 Trapping, netting, marking, and taking field measurements &amp; record keeping
    <p>Q999 OTHER AVIAN TAXA IN PAPERóNOT LISTED IN OWL RECORD
    Used to indicate that the paper covers a number of species that are not listed individually OR that the citation
    came to OWL with no details as to the actual taxa involved; some taxa may be listed in the OWL record but not
    all.  Whenever possible the actual country, Province or State is specifically indicated in the OWL record.  This

    code is most likely to be used for area surveys or censuses, species diversity, records committee reports, and
    avifaunal lists but may also include lists of avian hosts or prey or other similar long lists. OWL abstractors try
    to list up to about 15 taxa per record whenever feasible: those that are the most notable based upon abundance,
    rarity, new distributional record, or similar factors. NOTE: Only records entered after November 2005 have
    been screened for possible inclusion of this code; data entered prior to that time have not been subjected to this
    review but will be at some later time.
    <p>Rev: April 10, 2007
</span></font>

